<div class="card">
    <div class="card-body">
        <div class="card-title" style="margin-bottom: 30.9px;"><img src="/assets/imagens/icone-carrinho.svg" style="vertical-align: top;margin-right: 12.19px;" alt=""><span>Carrinho</span>
        </div>

        <div class="input-group">
            <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
            </ng-template>
            <input #input type="text" class="form-control border-right-0 border shadow-none" placeholder="Informe um produto" style="max-width: 596.54px;" aria-describedby="basic-addon1" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                [resultTemplate]="rt" [inputFormatter]="formatter" [(ngModel)]="produtoModel" (selectItem)="onSelecaoProduto($event)" #instance="ngbTypeahead">
            <span class="input-group-append" id="basic-addon1">
        <div class="input-group-text bg-transparent" style="border: 1px solid #dee2e6!important;">
          <img src="/assets/imagens/icone-pesquisa.svg">
        </div>
      </span>
        </div>
        <div style="margin-top: 32.07px">
            <div *ngIf="produtosSelecionados.length == 0">
                <img src="/assets/imagens/imagem-carrinho-empty-state.svg" class="mx-auto d-block">
                <p class="text-center carrinho-vazio-titulo">Carrinho vazio</p>
                <p class="text-center carrinho-vazio-sub">Nenhum produto foi inserido</p>
            </div>
            <div *ngIf="produtosSelecionados.length > 0" class="w-100">
                <hr class="divide-carrinho" />
                <div *ngFor="let produto of produtosSelecionados">
                    <div class="row">
                        <div class="col-10">
                            <div class="d-flex">
                                <img [src]="produto.imagemUrl" height="101" width="101" />
                                <div class="d-flex flex-column" style="margin-left: 20px;">
                                    <span class="codigo-produto-selecionado">{{produto.codigo}}</span>
                                    <span class="descricao-produto-selecionado ">{{produto.nome}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex" style="padding-top: 10px;">
                                <div class="d-flex flex-column">
                                    <div class="d-flex">
                                        <input numbersOnly type="text" class="shadow-none quantidade-produto text-center" style="outline: none;" [ngModel]="produto.quantidade" (ngModelChange)="atualizarQuantidadeProdutoSelecionado($event, produto)" />
                                        <p>x {{produto.precoUnitario| currency:'BRL':'R$ ':'1.2-2'}}</p>
                                    </div>
                                    <p class="total-produto-selecionado align-self-end">
                                        {{(produto.precoUnitario * produto.quantidade) | currency:'BRL':'R$ ':'1.2-2'}}</p>
                                </div>
                                <div style="padding-left: 25px;" class=" align-self-center">
                                    <img src="/assets/imagens/icone-remover-carrinho.svg" style="cursor: pointer;" (click)="removerProdutoSelecionado(produto)" width="21" height="21">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="divide-carrinho" />
                </div>
            </div>
        </div>
    </div>
</div>
