<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="../assets/imagens/logotipo-maximatech.png" width="135" height="38">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="dropDownCadastro" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cadastro
      </a>
            <ul class="dropdown-menu" *dropdownMenu>
                <li class="dropdown-item">Cliente</li>
                <li class="dropdown-item">Produto</li>
            </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="dropDownPedido" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pedido
      </a>
            <ul class="dropdown-menu" *dropdownMenu>
                <li class="dropdown-item">Novo pedido</li>
                <li class="dropdown-item">Consulta pedido</li>
            </ul>
        </li>
    </ul>
</nav>